<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Reset password</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--  Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--  You have been logged out.-->
<!--</div>-->

<form th:action="@{/password}" method="post">
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
           placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm password</label>
    <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword"
           placeholder="Password">
  </div>
  <label for="exampleInputPassword1">Email: </label>
  <div class="form-group">
    <input type="text" name="email" readonly th:value="${email}"
           class="form-control" id="email">
  </div>
  <button type="submit" class="btn btn-primary">Change</button>
</form>
<p th:text="${message}"></p>
<p th:text="${error}"></p>
</body>
</html>